<!-- Trigger button -->
<button class="btn btn-success mb-3" (click)="openModal()">
    <i class="bi bi-plus-circle me-1"></i> Add {{ isViewStatus==='task' ? 'Task' : isViewStatus === 'user' ? 'User' : 'Product'}}
</button>

<!-- Bootstrap Modal -->
<div class="modal fade" #taskModal tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="taskModalLabel">Add New {{ isViewStatus==='task' ? 'Task' : isViewStatus === 'user' ? 'User' : 'Product'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Load the actual form inside the modal -->

                <ng-container *ngIf="isViewStatus === 'task'">
                    <app-task-add-edit (formSubmitted)="closeModal()" ></app-task-add-edit>
                </ng-container>
                <ng-container *ngIf="isViewStatus === 'user'">
                    <app-users-add-edit (formSubmitted)="closeModal()"></app-users-add-edit>
                </ng-container>
                <ng-container *ngIf="isViewStatus === 'product'">
                    <app-product-add-edit (formSubmitted)="closeModal()"></app-product-add-edit>
                </ng-container>
            </div>
        </div>
    </div>
</div>